@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Prata&display=swap');

.thumbnail {
    width: 45vw;
    height: 36vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    background-size: contain;
}
.project-name {
    background-color: rgb(0, 0, 0, 0.5);
    text-align: end;
    padding-right: 1.1em;
}
.project-name h1 {
    margin-block-start: 1.1em;
    margin-block-end: 1.1em;
    color: white;
    font-family: 'Prata', 'serif';
    font-weight: 100;
    font-size: 0.9em;
}